/* src/MaterialSelection.css */
.material-selection {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.item p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
  .items-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .item {
    width: 45%; /* Устанавливаем ширину для двух колонок */
    margin: 10px 0;
  }
}
